% author: jnitzbon
% description: this script is used to specify individual setups for
% parallel runs of CryoGrid3. it is called by the script "submit_SLURM.sh"
% which is used to submit MATLAB jobs to the SLURM queue
clear all;
close all;

%% run the model

setupFile = 'SAVEDIR/RUN/RUN_setup.mat';        % load temporary setup file created by "setup_CryoGrid3.m"
load( setupFile );
CryoGrid3_xice_mpi( SETUP );