#!/bin/bash

#SBATCH --job-name="RUN"
#SBATCH --qos=medium
#SBATCH --account=permarisk
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=3
#SBATCH --output=SAVEDIR/RUN/CryoGrid3.out
#SBATCH --error=SAVEDIR/RUN/CryoGrid3.err
#SBATCH --workdir=/home/nitzbon/CryoGrid/CryoGrid3

matlab -nosplash -nodisplay -nodesktop < run_CryoGrid3.m
